<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FlexTFTP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <FlexTFTP.Properties.Settings>
            <setting name="HostAddress" serializeAs="String">
                <value>192.168.1.15</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>69</value>
            </setting>
            <setting name="AutoPath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RestoreWindowPosition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RestoreLastOpenedFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RestoreIPAddress" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RestorePort" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RestorePath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowPositionX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowPositionY" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="TransferRetryCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TransferTimeoutSec" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MultiFileMinSize" serializeAs="String">
                <value>10485760</value>
            </setting>
            <setting name="LastOpenedFile" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateURL" serializeAs="String">
                <value>https://api.github.com/repos/PhilipU/FlexTFTP/releases</value>
            </setting>
            <setting name="UpdateEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RestoreHistory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeCalled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateBetaRing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="totalBytesTransfered" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalTimeTransfered" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoForce" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TypeDependendAutpPath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OnlineCheckIntervalMs" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="OnlineCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowFullPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PresetEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Preset1AutoPath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Preset1Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Preset1Address" serializeAs="String">
                <value>192.168.1.15</value>
            </setting>
            <setting name="Preset1Port" serializeAs="String">
                <value>69</value>
            </setting>
            <setting name="Preset2AutoPath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Preset2Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Preset2Address" serializeAs="String">
                <value>192.168.1.16</value>
            </setting>
            <setting name="Preset2Port" serializeAs="String">
                <value>69</value>
            </setting>
        </FlexTFTP.Properties.Settings>
    </userSettings>
</configuration>
